<%= form_with model: mark do |form| %>

  <div class="field">
    <%= form.label :url %>
    <%= form.url_field :url %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all_fathers, :id, :name, include_blank: true%>
  </div>

  <div class="field">
    <%= form.label :category_id, "Sub Category" %>
    <%= form.collection_select :category_id, Category.all_children, :id, :name, include_blank: true%>
  </div>

  <div class="field">
    <%= form.label :type_id %>
    <%= form.collection_select :type_id, @types, :id, :name, include_blank: true%>
  </div>

  <div class="actions">
    <%= form.submit data: {confirm: '¿Quieres guardar esta URL?'} %>
  </div>
<% end %>
