<%= form_with model: mark do |form| %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

    <div class="field">
      <%= form.label :category_id %>
      <%= form.collection_select :category_id, @categories, :id, :name%>
    </div>

    <div class="field">
      <%= form.label :type_id %>
      <%= form.collection_select :type_id, @types, :id, :name%>
    </div>

  <div class="actions">
    <%= form.submit data: {confirm: '¿Quieres guardar esta URL?'} %>
  </div>
<% end %>
